<h2> Play! </h2>

<button id='game-start-button' class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent'>Start</button>

<div id='game-area' style='display: none;'>
  <div id='game-problem-text-field'>
    <p id='game-problem-text'>
      Here is the text
    </p>
  </div>

  <div>
    <div class='game-field mdl-textfield mdl-js-textfield'>
      <textarea id='game-user-input' class='mdl-textfield__input' rows=1></textarea>
      <label for='game-user-input' class='mdl-textfield__label'>Input</label>
    </div>
  </div>
</div>

<div id='game-result-area' style='display: none;'>
</div>
