<% if @newest_collections.present? %>
  <h2>Newest newest_collections</h2>

  <table cellspacing="0">
  <tr>
    <td>Title</td>
    <td>Description</td>
    <td>created at</td>
  </tr>
  <% @newest_collections.each do |collection| %>
    <tr>
      <td><%= link_to collection.title, user_collection_path(collection.user, collection) %></td>
      <td><%= collection.description %></td>
      <td><%= collection.created_at %></td>
    </tr>
  <% end %>
  </table>
<% end %>
